/* 
blue: #3d4f5d
orange: #e86a5b
green: #c1bb63
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');


#root {
  max-width: 1280px;
}

body {
  margin: 0;
  padding: 0;
  color: #3d4f5d;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

#navbar {
  width: 100vw;
  height: 115px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0px;
  top: 0px;
}

#navbar .logo {
  display: flex;
  margin: 0px 20px 0px 20px;
  font-family: 'Nunito', sans-serif;
}

#logo-img {
  height: 85px;
  margin: 10px 10px 0px 0px;
}

#menu-icon {
  width: 50px;
  margin: 35px;
}

#footer {
  background-color: whitesmoke;
  width: 100vw;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0px;
  bottom: 0px;
  color: #3d4f5d;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

#footer a {
  color: #e86a5b;
}

#footer a:hover {
  color: #de4735;
}

#sidebar ul {
  list-style-type: none;
}