/* 
blue: #3d4f5d
orange: #e86a5b
green: #c1bb63
*/

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap");

#root {
  max-width: 1280px;
}

body {
  margin: 0;
  padding: 0;
  color: #3d4f5d;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  background-color: white;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#navbar {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 #navbar .active {
  color: #e86a5b;
}

#navbar .logo {
  display: flex;
  padding: 0px 40px 0px 0px;
  margin: 0px 20px 0px 20px;
  font-family: "Nunito", sans-serif;
  font-size: 11px;
}

#logo-img {
  height: 60px;
  margin: 10px 10px 0px 0px;
}

.menu-icon {
  width: 35px;
  margin: 35px;
}

.sweet-orange {
  color: #e86a5b;
}

#footer {
  background-color: whitesmoke;
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  color: #3d4f5d;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

#footer a {
  color: #e86a5b;
  text-decoration: none;
}

#footer a:hover {
  color: #de4735;
  text-decoration: none;
}

a {
  color: #e86a5b;
  text-decoration: none;
}

a:hover {
  color: #de4735;
  text-decoration: none;
}

#sidebar {
  position: absolute;
  background-color: #3d4f5d;
  top: 0px;
  right: 0px;
  width: 200px;
  height: 100vh;
}

.hidden {
  display: none;
}

.sidebar {
  display: block;
}

#sidebar ul {
  list-style-type: none;
  position: absolute;
  top: 80px;
  right: 100px;
}

#sidebar a {
  color: white;
}

#sidebar a:hover {
  color: #de4735;
}

.menu-btn {
  border: 0px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0px;
  right: 0px;
}

.menu-btn:hover {
  background-color: rgba(0, 0, 0, 0);
}

.picture {
  width: 250px;
  height: 166px;
  object-fit: cover;
}

.card {
  background-color: whitesmoke;
  margin: 10px;
  padding: 10px 20px 20px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.card .apt-info {
  justify-content: space-between;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 100px;
}

.apt-info {
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.apt-details {
  text-align: left;
  margin-left: 30px;
}

.apt-img {
  border-radius: 10px;
  width: 600px;
  object-fit: cover;
}

.page {
  background-color: whitesmoke;
  padding: 40px 100px 60px 100px;
  margin-bottom: 40px;
  text-align: center;
}

.teams {
  display: flex;
  justify-content: space-evenly;
}

.team-member {
  text-align: center;
  width: 350px;
}

input {
  background-color: white;
}

textarea {
  background-color: white;
}


.activeMsg {
  display: block;
}

.hiddenMsg {
  display: none;
}

button {
  background-color: #c1bb63;
  border: 0px;
  width: 115px;
  height: 30px;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: white;
  border-radius: 5px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

button:hover {
  background-color: #a39c38;
}

.bookmark-btn {
  position: absolute;
  width: 30px;
  right: 10px;
  top: 10px;
}

.imgFrame {
  position: relative;
}