/* 
blue: #3d4f5d
orange: #e86a5b
green: #c1bb63
*/

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap");

#root {
  max-width: 1280px;
}

body {
  margin: 0;
  padding: 0;
  color: #3d4f5d;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  background-color: white;
}

#navbar {
  width: 100vw;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar .logo {
  display: flex;
  padding: 0px 40px 0px 0px;
  margin: 0px 20px 0px 20px;
  font-family: "Nunito", sans-serif;
  font-size: 11px;
}

#logo-img {
  height: 60px;
  margin: 10px 10px 0px 0px;
}

#menu-icon {
  width: 35px;
  margin: 35px;
}

.sweet-orange {
  color: #e86a5b;
}

#footer {
  background-color: whitesmoke;
  width: 100vw;
  display: flex;
  justify-content: center;

  color: #3d4f5d;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

#footer a {
  color: #e86a5b;
}

#footer a:hover {
  color: #de4735;
}

#sidebar ul {
  list-style-type: none;
}

.picture {
  width: 200px;
}

.card {
  border: 2px solid black;
  margin: 10px;
}

.list {
  display: flex;
  flex-wrap: wrap;
}
